body {
	background-color: #e8e8e8;
}

div.head {
	color: #e8e8e8;
	border: 2px solid #e8e8e8;
	border-radius: 25px;
	padding: 30px;
}

section.main {
	padding: 50px;
}

h1 {
	font-size: 40px;
}

.landing-text {
	padding-top: 40px;
}

.text {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.870588);
}
a:link {
	text-decoration: none;

}
a:visited {
	text-decoration: none;

}
a:hover {
	    background-color: #e8e8e8;
}
.card {
	width:100px;
	height:129px;
}